@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap");

:root {
  --background: hsl(0, 0%, 98%);
  --element: hsl(0, 0%, 100%);
  --text-primary: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
  --hover: hsl(0, 0%, 52%);
}

[data-theme="dark"] {
  --background: hsl(207, 26%, 17%);
  --element: hsl(209, 23%, 22%);
  --text-primary: hsl(0, 0%, 100%);
  --form-bg: #191919;
  color-scheme: dark;
}

* {
  transition: background-color 0.5s;
  font-family: "Nunito Sans", sans-serif;
}
body {
  background-color: var(--background);
}
.main-section {
  padding-top: 90px;
  background-color: var(--background);
}

.navbar {
  background-color: var(--element);

  padding-bottom: 10px;
}
.navbar button {
  font-weight: 400;
}
.navbar a {
  color: var(--text-primary);
  font-weight: 800;
}
.navbar a:hover {
  color: var(--text-primary);
}
button {
  background-color: var(--element) !important;
  border: none !important;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-weight: 800;
}
.prop-card {
  font-weight: 600;
}
.card {
  height: 360px;
  background-color: var(--element);
  color: var(--text-primary);
  border: none;
  cursor: pointer;
}

.card-container {
  margin-top: 30px;
  margin-bottom: 30px;
  transition: all 0.5s;
}
.card-container:hover {
  box-shadow: 0 0.5rem 2rem var(--hover) !important;
}
#dropdown-menu-align-center {
  color: var(--text-primary);
  padding: 15px;
}
.dropdown-item {
  background-color: var(--element);
  color: var(--text-primary);
}
.dropdown-menu {
  background-color: var(--element);
}

.filter-container {
  margin-top: 120px;
}
.search-container {
  width: 35%;
}
.search-bar {
  padding: 15px;
  padding-left: 15px;
  background: var(--element) !important;
  border: none;
}
.search-input {
  background: var(--element) !important;
  outline: none;
  box-shadow: none;
  border-color: transparent;
}

.search-input:focus,
.search-input:active {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}
.search-icon {
  margin-left: 20px;
  margin-right: 20px;
}
button {
  transition: none !important;
}
